<div class="row">
  <BR>
  <BR>
  <div class="col-md-8 col-md-offset-2">
    <div class="center">
      <h1 id="logo-home">A★Kirameter</h1>
      <hr>
      <h3>〜アキラメをキラメキ★に〜</h3>
      <p class="explain"> 今諦めたこと、今までに諦めたこと、これから諦めること</p>
      <br>
      <span class="data-label">Akirame.ALL</span><br>
      <span id="akirameter">
      <%= pluralize(Micropost.count, "") %>
      <%= Micropost.where(seibetsu: '男').count %>
      <%= Micropost.where(seibetsu: '女').count %>
      </span>
      <BR>
      <BR>
      <%= link_to "アキラメル", new_micropost_path, class: "col-md-4 col-md-offset-4 akirame_btn" %>
      <BR>
      <BR>
      <BR>
      <BR>
      <div class="akirame-tweets">
        <% @micropost_all.each do |m| %>
        <div class="field_contents">
          <div class="akirame">
            <%= m.content %>
          </div>
          <div class="info">
            <%= m.age %>:<%= m.seibetsu %>
            費やした時間:<%= m.past_time %>
            <%= m.created_at %>
          </div>
        </div>
        <% end %>
      </div>
  　   <BR>
  　  <!---
     <%= link_to "Sign up now!", microposts_path, class: "btn btn-xs btn-primary" %>
     --->
    </div>
  </div>
</div>
2016---akirameter---

