<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>

<div class="row">
 <div class="col-md-8 col-md-offset-2">
  <div class="center">
    <h1>A★Kirameter</h1>
    <h3>〜アキラメをキラメキ★に〜</h3>
    <p> 今諦めたこと、今まで諦めたこと、これから諦めること</p>
    <br>
    <span class="data-label">Akirame.ALL</span><br>
    <span id="akirameter">
      <%= pluralize(Micropost.count, "") %>
    </span>
    <br>
      <%= link_to "アキラメル！", new_micropost_path, class: "btn btn-lg btn-default" %>
    <BR>
    <BR>
        
    <div class="akirame-tweets">
      <p class="btn-sm btn-info">Akirameters</p>
    　　<% @micropost_all.each do |m| %>
　　　　　<div class="field_content">
　　　　　  <p class="akirame-timeline"><%= m.content %></p>
            性別：<%= m.seibetsu %>
　　　　　  年代：<%= m.age %>
　　　　　  費やした時間：<%= m.past_time %>
　　　　　  <%= m.created_at %>
　　　　　</div>
　　　　　<hr clann="hr-tweet">
　　　　<% end %>
  　</div>
  　<BR>
  　<BR>
  　<!---
    <%= link_to "Sign up now!", microposts_path, class: "btn btn-xs btn-primary" %>
    --->
  </div>
</div>
</div>
2016---akirameter---
<% end %>
