<div class="row">
  <BR>
  <div class="col-md-8 col-md-offset-2">
    <div class="center">
      <h1 id="logo-home" class="">A★Kirameter</h1>
      <hr>
      <h3>〜アキラメをキラメキ★に〜</h3>
      <p class="explain"> 今諦めたこと、今までに諦めたこと、これから諦めること</p>
      <BR>
        
      <div class="akirame-counter">
        <span class="data-label">Akirame.ALL</span>
        <br>
        <span id="akirameter">
        <%= pluralize(Micropost.count, "") %>
        </span>
      </div>

      <div class="col-md-4"><%= pie_chart Micropost.group(:age).count ,height: "200px",library: {backgroundColor: 'transparent',pieSliceText: 'label',legend: 'none',height: '180'} %></div>
      <div class="col-md-4"><%= pie_chart Micropost.group(:genre).count ,height: "200px",library: {backgroundColor: 'transparent',pieSliceText: 'label',legend: 'none',height: '180'}%></div>
      <div class="col-md-4"><%= pie_chart Micropost.group(:seibetsu).count ,height: "200px",library: {backgroundColor: 'transparent',pieSliceText: 'label',legend: 'none',colors:['#B0BEC5','#F48FB1','#b71c1c','#0D47A1'],height: '180'}%></div>
     
      <div class="col-md-8 col-md-offset-2 akirame-form">
          <%= render 'shared/akirame_tweet_form' %>
        <p><a id="modal-open" class="akirame_btn">アキラメる！</a></p>
      </div>
      
      <div style="display:inline-flex" class="share-btn">
        <%= render_shareable :buttons=> ['twitter'] %>
        <%= render_shareable :buttons=> ['facebook'] %>
      </div>
      
      <div class="akirame-tweets">
        <% @micropost_all.each do |m| %>
        <div class="field_contents">
          <div class="akirame">
            <%= m.content %>
          </div>
          <div class="akirame_info">
            <% if m.age.present? %><span class="age_info"><%= m.age %></span><% end %>
            <% if m.seibetsu.present? %><span class="seibetsu_info"><%= m.seibetsu %></span><% end %>
            <% if m.genre.present? %><span class="genre_info"><%= m.genre %></span><% end %>
            <% if m.past_time.present? %><span class="past_time_info"><%= m.past_time %></span><% end %>
            <br>
            <span class="created_info"><%= m.created_at %></span>
          </div>
        </div>
        <% end %>
      </div>
  　   <BR>
  　  <!---
     <%= link_to "Sign up now!", microposts_path, class: "btn btn-xs btn-primary" %>
     --->
    </div>
  </div>
  
  <!--モーダル画面1内-->
  <div id="modal-content1" class="col-md-6 col-md-offset-2">
	  <p class="">本当に諦めてもいいですか？</p>
	  <p class="non-deco"><a id="modal-close">ちょっと考えます</a></p>
	  <input type="button" value="はい、諦めます！" id="modal-submit" class="akirame_btn2">
  </div>
  
  <!--モーダル画面2内-->

  <div id="modal-content2" class="col-md-6 col-md-offset-2 animsition">
	  <p>お疲れ様でした！<br>また次のキラメキ探しましょう！</p>
  
  </div>
  <canvas id="canvas">
  </canvas>
</div>
2016---akirameter---


