<div class="row">
  <BR>
  <BR>
  <div class="col-md-8 col-md-offset-2">
    <div class="center">
      <h1 id="logo-home">A★Kirameter</h1>
      <hr>
      <h3>〜アキラメをキラメキ★に〜</h3>
      <p class="explain"> 今諦めたこと、今までに諦めたこと、これから諦めること</p>
      <br>
      <div class="akirame_counter">
        <span class="data-label">Akirame.ALL</span><br>
        <span id="akirameter">
        <%= pluralize(Micropost.count, "") %>
        <!--<%= Micropost.where(seibetsu: '男').count %>
        <%= Micropost.where(seibetsu: '女').count %>-->
        </span>
      </div>
        <div class="col-md-4 col-md-offset-2 charts_group"><%= pie_chart Micropost.group(:age).count ,library: {backgroundColor: 'transparent',pieSliceText: 'label',legend: 'none'} %></div>
        <div class="col-md-4 charts_group"><%= pie_chart Micropost.group(:seibetsu).count ,library: {backgroundColor: 'transparent',pieSliceText: 'label',legend: 'none',colors:['#B0BEC5','#b71c1c','#0D47A1']}%></div>
     
      <BR>
      <BR>
      <div class="">
      <%= link_to "アキラメル", new_micropost_path, class: "col-md-4 col-md-offset-4 akirame_btn" %>
      </div>
      <BR>
      <BR>
      <BR>
      <div class="akirame-tweets">
        <% @micropost_all.each do |m| %>
        <div class="field_contents">
          <div class="akirame">
            <%= m.content %>
          </div>
          <div class="info">
            <% if m.age.present? %><%= m.age %>:<% end %>
            <% if m.seibetsu.present? %><%= m.seibetsu %><% end %>
            <% if m.past_time.present? %>費やした時間:<%= m.past_time %><% end %>
            <%= m.created_at %>
          </div>
        </div>
        <% end %>
      </div>
  　   <BR>
  　  <!---
     <%= link_to "Sign up now!", microposts_path, class: "btn btn-xs btn-primary" %>
     --->
    </div>
  </div>
  
</div>
2016---akirameter---


