<header class="navbar navbar-fixed-top navbar-inverse" id="header">
  <div class="container">
    <!--<%= link_to "A★Kirameter", root_path, id: "logo" %>-->
    <nav>
      <ul class="nav navbar-nav navbar-right navber-text">
      <!---
      <% if logged_in? %>
      <li class="dropdown">
        <span class="dropdown-toggle" data-toggle="dropdown">
          <%= @user.nickname %>
          <b class="caret"></b>
          <%= image_tag(@user.image_url, :size => "32x32", :alt => "image", :class => "twitter_user_image") %>
        </span>
            <ul class="dropdown-menu">
              <!--<li><%= link_to "Profile", "" %></li>
              <li><%= link_to "Settings", "" %></li>
              <li class="divider"></li>--->
              <li><%= link_to 'logout', logout_path %></li>
            </ul>
      </li>
      <% else %>
      <%= link_to 'Twitter', 'auth/twitter' %>
      <% end %>
      --->
      



      </ul>
    </nav>
  </div>
</header>