<!DOCTYPE html>
<html>
  <head>
    <title>A★Kirameter 〜アキラメをキラメキ★に〜</title>
      <%= stylesheet_link_tag 'application', media: 'all' %>
      <%= javascript_include_tag 'application' %>
      <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
      <%= csrf_meta_tags %>
      <link href='https://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>
      <%= stylesheet_link_tag "application" %>
  </head>
  <body>
    <div class="animsition">
      <%= render 'layouts/header' %>
      <div class="container">
        <% flash.each do |message_type, message| %> <!-- ここから -->
        <div class="alert alert-<%= message_type %>"><%= message %></div>
        <% end %> 
        <%= yield %>
      </div>
    </div>
    
　　<!-- jQuery -->
　　<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>cd
　　<!-- animsition.js -->
　　<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    
  <script>
    
  $(document).ready(function() {
    $(".animsition").animsition({
    inClass: 'fade-in',
    outClass: 'fade-out',
    inDuration: 1500,
    outDuration: 800,
    linkElement: '.animsition-link',
    // e.g. linkElement: 'a:not([target="_blank"]):not([href^=#])'
    loading: true,
    loadingParentElement: 'body', //animsition wrapper element
    loadingClass: 'animsition-loading',
    loadingInner: '', // e.g '<img src="loading.svg" />'
    timeout: false,
    timeoutCountdown: 5000,
    onLoadEvent: true,
    browser: [ 'animation-duration', '-webkit-animation-duration'],
    // "browser" option allows you to disable the "animsition" in case the css property in the array is not supported by your browser.
    // The default setting is to disable the "animsition" in a browser that does not support "animation-duration".
    overlay : false,
    overlayClass : 'animsition-overlay-slide',
    overlayParentElement : 'body',
    transition: function(url){ window.location.href = url; }
    });
  });
  $(function() {
    $(".animsition").animsition({
    inClass: 'fade-in',
    outClass: 'fade-out',
    inDuration: 1500,
    outDuration: 800,
    linkElement: '.animsition-link',
    // e.g. linkElement: 'a:not([target="_blank"]):not([href^=#])'
    loading: true,
    loadingParentElement: 'body', //animsition wrapper element
    loadingClass: 'animsition-loading',
    loadingInner: '', // e.g '<img src="loading.svg" />'
    timeout: false,
    timeoutCountdown: 5000,
    onLoadEvent: true,
    browser: [ 'animation-duration', '-webkit-animation-duration'],
    // "browser" option allows you to disable the "animsition" in case the css property in the array is not supported by your browser.
    // The default setting is to disable the "animsition" in a browser that does not support "animation-duration".
    overlay : false,
    overlayClass : 'animsition-overlay-slide',
    overlayParentElement : 'body',
    transition: function(url){ window.location.href = url; }
    });
  });
  
  //モーダル
  $("#modal-open").click(
	function(){
		//[id:modal-open]をクリックしたら起こる処理
    //キーボード操作などにより、オーバーレイが多重起動するのを防止する
    $(this).blur() ;	//ボタンからフォーカスを外す
    if($("#modal-overlay")[0]) return false ;		//新しくモーダルウィンドウを起動しない [下とどちらか選択]
    //if($("#modal-overlay")[0]) $("#modal-overlay").remove() ;		//現在のモーダルウィンドウを削除して新しく起動する [上とどちらか選択]

    //オーバーレイ用のHTMLコードを、[body]内の最後に生成する
    $("body").append('<div id="modal-overlay"></div>');
    
    //[$modal-overlay]をフェードインさせる
    $("#modal-overlay").fadeIn("slow");		
    //[$modal-content]をフェードインさせる
    $("#modal-content").fadeIn("slow");
	  }
	  
	 );
	 

  
	//モーダルをクローズ
	$("#modal-overlay,#modal-close").unbind().click(function(){
	  //[#modal-overlay]、または[#modal-close]をクリックしたら起こる処理
    //[#modal-overlay]と[#modal-close]をフェードアウトする
    $("#modal-content,#modal-overlay").fadeOut("slow",function(){
	  //フェードアウト後、[#modal-overlay]をHTML(DOM)上から削除
	  $("#modal-overlay").remove();
  });
  });
  
  function do_submit() {
  document.forms['hoge'].submit();
  }

  
  </script>
    
  </body>
</html>